@model IEnumerable<MedicalOffice.Models.Appointment>

<partial name="_ViewHeading" />

<h5>Appointments between: @ViewData["StartDate"] and @ViewData["EndDate"]</h5>
<h6>@ViewData["HowMany"]</h6>
<form asp-action="Index" method="get">
    <input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
    <input type="hidden" name="sortField" value="@ViewData["sortField"]" />
    <div class="form-horizontal">
        <button class="btn @ViewData["Filtering"]" type="button" data-bs-toggle="collapse" id="filterToggle" 
            data-bs-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
            Filter/Search @ViewData["numberFilters"]
        </button><br />
        <div class="collapse @ViewData["ShowFilter"]" id="collapseFilter">
            <div class="card card-body bg-light">
                <div class="row">
                    <div class="form-group col-md-4">
                        <label class="control-label">Filter by Patient:</label>
                        @Html.DropDownList("PatientID", null, "All Patients",
                         htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">Filter by Doctor:</label>
                        @Html.DropDownList("DoctorID", null, "All Doctors", 
                         htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Filter by Reason:</label>
                            @Html.DropDownList("AppointmentReasonID", null, "All Reasons",
                                     htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <label class="control-label">Search Notes:</label>
                        @Html.TextBox("SearchString", null, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-3">
                        <label class="control-label">Start Date:</label>
                        <input class="form-control" type="date" id="StartDate" name="StartDate"
                               value="@ViewData["StartDate"]" aria-describedby="EndDate" aria-invalid="false">
                    </div>
                    <div class="form-group col-md-3">
                        <label class="control-label">End Date:</label>
                        <input class="form-control" type="date" id="StartDate" name="EndDate"
                               value="@ViewData["EndDate"]" aria-describedby="EndDate" aria-invalid="false">
                    </div>
                    <div class="form-group col-md-2 align-self-end">
                        <input type="submit" name="actionButton" value="Filter" 
                            class="btn btn-outline-primary" />
                        <a asp-action="Index" class="btn btn-outline-dark">Clear</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<table class="table">
    <tr>
        <th>
            <input type="submit" name="actionButton" value="Appointment" class="btn btn-link" />
        </th>
        <th>
            <input type="submit" name="actionButton" value="Appt. Reason" class="btn btn-link" />
        </th>
        <th class="d-none d-lg-table-cell">
            <input type="submit" name="actionButton" value="Extra Fees" class="btn btn-link" />
            @{
                double totalFees = 0d;
            }
        </th>
        <th class="d-none d-xxl-table-cell">
            <input type="submit" value="Notes" class="btn btn-toolbar" />
        </th>
        <th class="d-none d-md-table-cell">
            <input type="submit" name="actionButton" value="Doctor" class="btn btn-link" />
        </th>
        <th class="d-none d-md-table-cell">
            <input type="submit" name="actionButton" value="Patient" class="btn btn-link" />
        </th>
        <th>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartDateSummary)
                @Html.DisplayFor(modelItem => item.StartTimeSummary)
                <span class="break-word">
                    (@Html.DisplayFor(modelItem => item.DurationSummary))
                </span>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentReason.ReasonName)
            </td>
            <td class="d-none d-lg-table-cell">
                @Html.DisplayFor(modelItem => item.ExtraFee)
                @{
                    totalFees += item.ExtraFee;
                }
            </td>
            <td class="d-none d-xxl-table-cell" style="width: 240px;">
                @{
                    string[] noteWords = item.Notes.Split(' ');
                    if (noteWords.Count() > 4)
                    {
                        <a class="" role="button" data-bs-toggle="collapse" href="#collapseSum@(item.ID)" aria-expanded="false" aria-controls="collapseSum@(item.ID)">
                            @(string.Join(" ", noteWords.Take(4)) + "...")
                        </a>
                        <div class="collapse" id="collapseSum@(item.ID)">
                            <div class="well">
                                @(string.Join(" ", noteWords.Skip(4)))
                            </div>
                        </div>
                    }
                    else
                    {
                        @item.Notes
                    }
                }
            </td>
            <td class="d-none d-md-table-cell">
                @Html.DisplayFor(modelItem => item.Doctor.Summary)
            </td>
            <td class="d-none d-md-table-cell">
                @Html.DisplayFor(modelItem => item.Patient.Summary)
            </td>
            <td>
                <a asp-controller="Appointment" asp-action="Details" asp-route-id="@item.ID"
                    class="btn btn-sm btn-outline-danger" role="button"
                    data-bs-toggle="tooltip" title="@ViewData["ControllerFriendlyName"] Details">
                    &#x1F50D;
                </a>
            </td>
        </tr>
    }
    <tr>
        <td></td>
        <td align="right">
            Total Fees:
        </td>
        <td>
            <strong>@totalFees.ToString("c")</strong>
        </td>
        <td></td>
        <td></td>
    </tr>
</table>
    <partial name="_PagingNavBar" />
</form>
@section Scripts {
    <script type="text/javascript">
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>
}
